<%- contentFor('HeaderCss') %>
    <link href="../../assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <%- contentFor('body') %>

        <div class="row" style="justify-content: center;">
            <div class="col-lg-12">
                <div class="card" id="leadsList">
                    <div class="card-header">
                        <div class="row g-3">
                            <!-- Trang thêm khách hàng chuyển trang theo id  -->
                            <form class="row g-3" action="/job/search" method="post">
                                <div class="col-md-4">
                                    <div class="search-box">
                                        <input name="key" type="text" class="form-control" value="<%= req.query.key ? req.query.key : '' %>" placeholder="Tìm kiếm...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-outline-success btn-border">Tìm kiếm</button>
                                </div>
                                <div class="col-md-auto ms-auto">
                                    <div class="flex-shrink-0">
                                        <a class="btn btn-success add-btn" type="button" data-bs-toggle="offcanvas" id="create-btn" data-bs-target="#offcanvas_jobs_add" aria-controls="offcanvas_jobs_add">
                                            <i class="ri-add-line align-bottom me-1"></i>Thêm ngành nghề
                                        </a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <%- include('../../partials/alert.ejs') %>
                                <div class="table-responsive table-card">
                                    <table class="table align-middle" id="customerTable">
                                        <thead class="table-light">
                                            <tr class="col-lg-12">
                                                <th class="col-sm-7">Tên Ngành Nghề</th>
                                                <th class="col-sm-1 text-center">Hành Động</th>
                                            </tr>
                                        </thead>

                                        <tbody class="list form-check-all">
                                            <% jobs.rows.forEach(i=> { %>
                                                <tr>
                                                    <td class="title">
                                                        <%= i.full_name %>
                                                    </td>

                                                    <td class="action">
                                                        <ul class="list-inline hstack gap-2 mb-0 text-end" style="justify-content: center;">
                                                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Sửa">
                                                                <a class="edit-item-btn" href="#offcanvas_job_update_<%=i.id%>" data-bs-toggle="offcanvas" value="<%= i.id %>"><i
                                                                    class="ri-pencil-fill align-bottom text-muted"></i></a>
                                                            </li>


                                                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Xóa">
                                                                <a class="remove-item-btn" data-bs-toggle="modal" value="<%= i.id %>" href="#offcanvas_job_delete_<%=i.id%>">
                                                                    <i class="ri-delete-bin-fill align-bottom text-muted"></i>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </td>
                                                </tr>
                                                <%}); %>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                        <!-- phân trang -->
                        <div class="d-flex justify-content-end mt-3">
                            <div class="pagination-wrap hstack gap-2">
                                <form action="/job/search/Previous/<%=req.query.page %>/<%=req.query.key %> " method="post">
                                    <button type="submit" class="btn btn-outline-success btn-border" style="padding:4px" <%=parseInt(req.query.page)===1 ? 'disabled' : '' %>>
                                        Previous
                                    </button>
                                </form>
                                <% if(paging == ''){%>
                                    <%='1' %>
                                        <%}else{%>
                                            <%-paging%>
                                                <%}%>
                                                    <form action="/job/search/Next/<%=req.query.page %>/<%=req.query.key %> " method="post">
                                                        <button type="submit" class="btn btn-outline-success btn-border" style="padding:4px" <%=parseInt(req.query.page)===Math.ceil(jobs.count/size) ? 'disabled' : '' %> 
                                                    <%=Math.ceil(jobs.count/size)===0 ?'disabled' : '' %> 
                                        >
                                        Next
                                    </button>
                                                    </form>
                            </div>
                        </div>
                    </div>
                    <!-- offcanvas-add -->
                    <%- include('_jobs_add') %>
                        <!-- offcanvas-edit -->
                        <% jobs.rows.forEach(i=> {%>
                            <%- include('_jobs_edit', {job: i}) %>
                                <%}) %>
                                    <!-- offcanvas-delete -->
                                    <% jobs.rows.forEach(i=> {%>
                                        <%- include('_jobs_delete', {job: i}) %>
                                            <%}) %>
                </div>
            </div>
        </div>
        </div>
        <!--end row-->
        <%- contentFor('FooterJs') %>
            <script src="../../assets/libs/sweetalert2/sweetalert2.min.js"></script>
            <script src="../../assets/libs/list.js/list.min.js"></script>
            <script src="../../assets/libs/list.pagination.js/list.pagination.min.js"></script>
            <script src="../../assets/js/pages/crm-leads.init.js"></script>